
// button {
// 	font: inherit;
// 	border-radius:0.5em;
//   background-color: #f8e0b1;
//   border: none;
// }


.video-coding-container {
  background-color: #2B2B2B;
  color: white;
	width: 100%;
  height: 100%;
  min-height: 100Vh;
  
  display: grid;
  grid-template-rows: 50px 1fr 1fr;

  // input[type=text] {
  //   font: inherit;
  //   border: 2px solid lightblue;
  //   border-radius: 0.5em;
  //   width: 100%;
  //   height: 100%;
  // }

  textarea {
    background: transparent;
    color: white;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 15px;
  }

  textarea::placeholder {
    color: white;
  }

  .select-exhibit-section {
    margin: auto;
    color: black;
  }

  .top-half {
    flex: 1;
    display: flex;
    flex-direction: row;

    .video-section { 
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      grid-area: video;
      padding: 10px;
      margin: 15px 20px;
      flex: 0.5;
      background-color: #666D77;
      border-radius: 40px;
    }

    .list-interactions-section {
      flex: 0.5;
      // background-color: pink;
      height: 100%;

      padding: 0 30px;
      overflow-y: hidden;
      display: flex;
      flex-direction: column;


      .title-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .list-row {
        overflow-y: scroll;
        height: 235px;

        button {
          background: transparent;
          color: white;
          border: none;
        }
      }
    }

    .end-section {
      flex: 0.3;

    }
  }

  .bottom-half {
    // background-color: green;
    flex: 1;
    display: flex;
    flex-direction: row;
    
    .visitor-section {
      // background-color: aquamarine;
      flex: 1;
      padding-left: 10px;
      padding-top: 10px;
      display: flex;
      flex-direction: column;


      .description-top-row {
        display: grid;
        grid-template-columns: 2fr 4fr;
        
        .description-container {
          padding: 10px;          
        }

        .top-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          
          .select-container {
            padding: 10px;
            color: black;
          }
        }

        .first-four-interactions {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }

      .observation-bottom-row {
        display: grid;
        grid-template-columns: 3fr 3fr;

        .observation-container {
          padding: 10px;
        }

        // .left-col {
        //   flex: 1;
        //   height: 100%;
        //   display: flex;
        //   flex-direction: column;

        //   .visitor-row {
        //     flex: 1;
        //     height: 100%;
        //   }

        //   .observation-row {
        //     flex: 2;
        //     height: 100%;
        //   }
        // }

        .right-col {
          flex: 2;                  
        }
      }

      .visitor-behaviors-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }

      .visitor-behaviors-container > .visitor-behaviors-item {
        flex: 1 1 30%; /*grow | shrink | basis */
        height: 100px;
      }
      
      .visitor-behaviors-item {
        padding: 10px;
        margin: 0px 1px;

        button {
          color: white;
          font-weight: bold;
          font-size: 12px;
          width: 100%;
          height: 100%;          
          box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
          border: none;
        }
      }

      .behavior-item-selected {
        background-color: #848b83;
        border-radius: 20px;
      }
    }

    .facilitator-section {
      // background-color: chocolate;
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 10px 30px 0px 30px;

      .top-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        // margin: auto;
        // margin-bottom: 15px;

        .select-container {
          padding: 10px;
          color: black;
        }
      }

      .bottom-row {
        
        .facilitator-behaviors-container {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;         
        }

        .facilitator-behaviors-container > .facilitator-behaviors-item {
          flex: 1 1 20%; /*grow | shrink | basis */
          height: 80px;
        }
        
        .facilitator-behaviors-item {
          padding: 5px;

          button {
            color: white;
            font-weight: bold;
            font-size: 12px;
            width: 100%;
            height: 100%;          
            box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            border: none;
          }

          .confort-behavior-btn {
            background-color: #8CC152;
          }
          
          .exhibitUse-behavior-btn {
            background-color: #37BC9B;
          }

          .reflection-behavior-btn {
            background-color: #4A89DC;
          }

          .information-behavior-btn {
            background-color: #967ADC;
          }
        }

        .behavior-item-selected {
          background-color: #848b83;
          border-radius: 20px;
        }
      }
    }
  }

}

.container-video {
  display: grid;
  grid-template-columns: 1fr 45%;
  //grid-template-rows: 3fr 1fr 0%;
  gap: 2% 2%;
  grid-auto-flow: row;
  grid-template-areas:
    "video coding"
    "belowVideo nextSteps"
    "footer footer";
}


.coding {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2% 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "visitor"
    "facilitator";
  grid-area: coding;
}

.visitor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1% 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "visitorDemographics"
    "vbfl"
    "other";
  grid-area: visitor;
  border: 2px solid blue;
  border-radius: 1em;
  padding: 2%;
}

.visitor.button {
  background-color: red;
}

.visitorDemographics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . .";
  grid-area: visitorDemographics;
}

.vbfl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 1%;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . . .";
  grid-area: vbfl;
}

.other {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 0px 1%;
  grid-auto-flow: row;
  grid-template-areas:
    ". .";
  grid-area: other;
}

.facilitator {
  display: grid;
  grid-template-columns: 5fr 6fr;
  grid-template-rows: 1fr 2fr 2fr;
  gap: 1% 1%;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    "comfort reflection"
    "exhibitUse information";
  grid-area: facilitator;
  border: 2px solid green;
  border-radius: 1em;
  padding: 2%;
   font-size:0.5em;
}

.comfort {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 3%;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . .";
  grid-area: comfort;
  background-color: #b80f0a;
  border-radius: 1em;
  padding: 3%;
}

.reflection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 3%;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . .";
  grid-area: reflection;
  background-color: #046307;
  border-radius: 1em;
  padding: 3%;
}

.exhibitUse {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 3%;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . .";
  grid-area: exhibitUse;
  background-color: #003b6f;
  border-radius: 1em;
  padding: 3%;
}

.information {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 3%;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . .";
  grid-area: information;
  background-color: #fada5e;
  border-radius: 1em;
  padding: 3%;
}

.belowVideo{
  display: grid;
  grid-area: belowVideo;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 2%;
}

.obs { 
  border: 2px solid blue;
  border-radius: 1em;
  padding: 2%;
}

.codingList {  
  border: 2px solid pink;
  border-radius: 1em;
  padding: 2%;

  max-height: 250px;
  overflow: auto;
}

.nextSteps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
}

.end-buttons {
  flex: 1;
  height: 40px;
  max-width: 150px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 5px;

  border: 2px solid #DA4453;
  border-radius: 15px;
  color: #DA4453;
  background-color: transparent;
}
