
// button {
// 	font: inherit;
// 	border-radius:0.5em;
//   background-color: #f8e0b1;
//   border: none;
// }

input[type=text] {
  font: inherit;
  border: 2px solid lightblue;
  border-radius: 0.5em;
  width: 100%;
  height: 100%;
}

.video-coding-container {
  background-image: url('../../images/video.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;

  .header-row {
    background-color: #daa520b3;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
  }

  .top-half {
    height: 48%;

    // background-color: grey;
    flex: 1;
    display: flex;
    flex-direction: row;

    .video-section { 
      display: flex;
      justify-content: center;
      text-align: center;
      
      grid-area: video;
      margin-left: 100px;
      margin-top: 40px;
      flex: 0.6;
    }

    .list-interactions-section {
      flex: 0.4;
      // background-color: pink;
      height: 100%;

      padding: 0 30px;
      overflow-y: hidden;
      display: flex;
      flex-direction: column;


      .title-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .list-row {
        overflow-y: scroll;
        max-height: 250px;
      }
    }

    .end-section {
      flex: 0.3;

    }
  }

  .bottom-half {
    // background-color: green;
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 47%;
    
    .visitor-section {
      // background-color: aquamarine;
      flex: 1;
      padding: 30px;
      display: flex;
      flex-direction: column;

      .top-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 15px;
        
      }

      .bottom-row {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .left-col {
          flex: 1;
          height: 100%;
          display: flex;
          flex-direction: column;

          .visitor-row {
            flex: 1;
            height: 100%;
          }

          .observation-row {
            flex: 2;
            height: 100%;
          }
        }

        .right-col {
          flex: 2;
        
          .visitor-behaviors-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            padding: 0 30px;            
          }

          .visitor-behaviors-container > .visitor-behaviors-item {
            flex: 1 1 30%; /*grow | shrink | basis */
            height: 100px;
          }
          
          .visitor-behaviors-item {
            padding: 10px;

            button {
              width: 100%;
              height: 100%;
              border-radius: 6px;
            }
          }

          .behavior-item-selected {
            background-color: #0d6101;
          }
        }
      }
    }

    .facilitator-section {
      // background-color: chocolate;
      flex: 1;
      margin-right: 80px;
      display: flex;
      flex-direction: column;

      .top-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        margin-bottom: 15px;
        width: 50%;
        
      }

      .bottom-row {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .facilitator-behaviors-container {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;

          padding: 0 30px 40px;            
        }

        .facilitator-behaviors-container > .facilitator-behaviors-item {
          flex: 1 1 20%; /*grow | shrink | basis */
          height: 80px;
        }
        
        .facilitator-behaviors-item {
          padding: 5px;

          button {
            width: 100%;
            height: 100%;
            border-radius: 6px;
          }

          .confort-behavior-btn {
            background-color: brown;
          }

          .reflection-behavior-btn {
            background-color: burlywood;
          }

          .exhibitUse-behavior-btn {
            background-color: orange;
          }

          .information-behavior-btn {
            background-color: purple;
          }
        }

        .behavior-item-selected {
          background-color: #0d6101;
        }
      }
    }
  }

}

.container-video {
  display: grid;
  grid-template-columns: 1fr 45%;
  //grid-template-rows: 3fr 1fr 0%;
  gap: 2% 2%;
  grid-auto-flow: row;
  grid-template-areas:
    "video coding"
    "belowVideo nextSteps"
    "footer footer";
}


.coding {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2% 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "visitor"
    "facilitator";
  grid-area: coding;
}

.visitor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1% 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "visitorDemographics"
    "vbfl"
    "other";
  grid-area: visitor;
  border: 2px solid blue;
  border-radius: 1em;
  padding: 2%;
}

.visitor.button {
  background-color: red;
}

.visitorDemographics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . .";
  grid-area: visitorDemographics;
}

.vbfl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 1%;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . . .";
  grid-area: vbfl;
}

.other {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 0px 1%;
  grid-auto-flow: row;
  grid-template-areas:
    ". .";
  grid-area: other;
}

.facilitator {
  display: grid;
  grid-template-columns: 5fr 6fr;
  grid-template-rows: 1fr 2fr 2fr;
  gap: 1% 1%;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    "comfort reflection"
    "exhibitUse information";
  grid-area: facilitator;
  border: 2px solid green;
  border-radius: 1em;
  padding: 2%;
   font-size:0.5em;
}

.comfort {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 3%;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . .";
  grid-area: comfort;
  background-color: #b80f0a;
  border-radius: 1em;
  padding: 3%;
}

.reflection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 3%;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . .";
  grid-area: reflection;
  background-color: #046307;
  border-radius: 1em;
  padding: 3%;
}

.exhibitUse {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 3%;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . .";
  grid-area: exhibitUse;
  background-color: #003b6f;
  border-radius: 1em;
  padding: 3%;
}

.information {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 3%;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . .";
  grid-area: information;
  background-color: #fada5e;
  border-radius: 1em;
  padding: 3%;
}

.belowVideo{
  display: grid;
  grid-area: belowVideo;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 2%;
}

.obs { 
  border: 2px solid blue;
  border-radius: 1em;
  padding: 2%;
}

.codingList {  
  border: 2px solid pink;
  border-radius: 1em;
  padding: 2%;

  max-height: 250px;
  overflow: auto;
}

.nextSteps {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.end-buttons {
  flex: 1;
  height: 40px;
  font-weight: bold;
  border-radius: 6px;
  font-size: 16px;
  text-transform: capitalize;
  margin-left: 5px;
  margin-right: 5px;
}
