body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  min-height: 100% !important;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}



.app-wrapper {
  background-color: #242424;
  min-height: 100% !important;
  height: 100%;
  overflow-y: scroll;
}

.loading-screen {
  background-color: #242424;
  min-height: 100% !important;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
}

.soleil-logo {
  background: url('./images/sun.png'), 50% / cover no-repeat;
  width: 208px;
  height: 207px;
  flex-shrink: 0;
  margin: 50px;
}

.soleil-logo-small {
  background: url('./images/small-sun.png'), 50% / cover no-repeat;
  width: 48px;
  height: 50px;
  flex-shrink: 0;
}
